$grid-gutter-width: 20px !default;
$mobile-outside-gutter-width: 30px !default;

.container{
    max-width: map-get($breakpoints, 'xl' );
    margin: 0 auto;
	padding: 0 41px;
	
    @media (max-width: map-get($breakpoints, 'l' )) {
		max-width: map-get($breakpoints, 'sl' );
		padding: 0 30px;
    }

    @media (max-width: map-get($breakpoints, 'sl' )) {
        max-width: initial;
    }
}