/*--------------------------------------------------------------
# Basic Colors
--------------------------------------------------------------*/
$white: #FFFFFF;
$black: #000000;

/*--------------------------------------------------------------
# Design principal colors
--------------------------------------------------------------*/
$primary: #3f83bf;
$secondary: #29557c;

$greys: ('light': #D3D3D3,
	'regular': #808080,
	'dark': #A9A9A9);
$grays: $greys;

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
$font: VarelaRound,
"Gill Sans MT",
"Gill Sans",
Corbel,
Arial,
sans-serif;

$font-secondary: "Century Gothic",
AppleGothic,
sans-serif;

$font-weights: ('light': 300,
	'regular': 400,
	'medium': 500,
	'bold': 700
);


/*--------------------------------------------------------------
# Padding options for flexible pages
--------------------------------------------------------------*/
$padding-options: ('none': 0,
	'small': 25px,
	'default': 50px,
	'large': 100px,
);

/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
$breakpoints: (
	xl: 1282px,
	l: 1080px,
	sl: 992px,
	md: 768px,
	sm: 576px);