.m-book-archive {
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
        font-size: 30px;
        line-height: 42px;
        color: $primary;
        font-weight: 600;
        margin-bottom: 40px;
        text-align: center;
    }

    .c-pagination__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 10px;
    }
}