.m-slider {
  position: relative;
  background-color: black;

  .container {
    max-width: none;
    width: 100vw;
    padding: 0;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    vertical-align: top;
  }

  &__heading-container {
    position: absolute;
    bottom: 0;
  }

  &__pre-text {
    width: 100%;
    height: 200px;
    z-index: 1;
    background-color: #242F9B;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    left: 130px;

    @include respond-below('sl') {
      width: 90%;
      left: -7%;
      right: 0;
      margin: auto;
      height: 100%;    
      bottom: 32px;
    }

    @include respond-below('sm') {
      width: 90%;
      left: -7%;
      right: 0;
      margin: auto;
      height: 100%;
    }
  }

  &__text-wrapper {
    max-width: 754px;
    max-height: max-content;
    position: relative;
    bottom: 50px;
    left: 140px;
    z-index: 2;
    background-color: $tertiary;
    padding: 30px;
    border-radius: 20px;
    
    @include respond-below('sl') {
      width: 90%;
      left: -2%;
      right: 0;
      margin: auto;
      bottom: 40px;
      max-width: 90%;
    }

    @include respond-below('sm') {
      left: -1%;
      right: 0;
      margin: auto;
      bottom: 40px;
    }
  }

  &__title,
  &__copy {
    font-family: $title-font;
    text-align: left;
    color: white;
  }
  
  &__title {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: -0.02em;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;

    @include respond-below('sm') {
      font-size: 30px;
      line-height: 42px;
    }

    &::after {
      content: '';
      display: block;
      height: 8px;
      background-color: #242F9B;
      width: 100%;
      border-radius: 4px;
      margin-top: 20px;
    }
  }

  &__copy {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
  }

  .swiper-pagination {
    text-align: right;
    padding-right: 30px;
  }

  /*.swiper-button-prev,
  .swiper-button-next {
    background-color: transparent;
    border: none;

    &:after {
      color: skyblue;
    }
  }*/
}